# Lists & Loops

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

*Note: You can explore the [associated workbook](https://mybinder.org/v2/gh/melaniewalsh/Intro-Cultural-Analytics/master?urlpath=lab/tree/book/02-Python/Workbooks/09.5-Lists-Loops-Part1-WORKBOOK.ipynb) for this chapter in the cloud.*

In the next few lessons, we're going to learn about a Python data collection type called a *list* and a way of working with lists called a *for loop*, and we're going to draw on [The Bellevue Almshouse Dataset](https://www.nyuirish.net/almshouse/the-almshouse-records/), created by historian and DH scholar Anelise Shrout. This dataset includes information about Irish-born immigrants who were admitted to New York City's Bellevue Almshouse in the 1840s.

**Preview The Bellevue Almshouse Dataset**

In [ ]:
import pandas
pandas.read_csv("/content/drive/MyDrive/colab_notebooks/Data/bellevue_almshouse_modified.csv")

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,w,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
...,...,...,...,...,...,...,...,...
9579,1847-06-17,Mary,Smith,47.0,NaN,NaN,w,NaN
9580,1847-06-22,Francis,Riley,29.0,lame,superintendent,m,NaN
9581,1847-07-02,Martin,Dunn,4.0,NaN,NaN,m,NaN
9582,1847-07-08,Elizabeth,Post,32.0,NaN,NaN,w,NaN
9583,1847-04-28,Bridget,Ryan,28.0,destitution,spinster,w,NaN

___

## Lists

Let's use individual variables to represent some of the demographic information about the 19th century Irish immigrants featured in the [Bellevue Almshouse data](https://docs.google.com/spreadsheets/d/1uf8uaqicknrn0a6STWrVfVMScQQMtzYf5I_QyhB9r7I/edit##gid=2057113261), such as names.

One of the most common Python data collections is a *list*. By using a list, we can put the names of the people featured in the dataset into a single collection.

#### Example:

In [ ]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

In [ ]:
type(names)

list

A list is always enclosed by square brackets `[]`, accepts items in a row separated by commas (`,`), and can contain any combination of Python data types.

#### Example:

In [ ]:
ages = [28, 19, 60, 30]

In [ ]:
type(ages)

list

### Index

You can index a list like you would index a string.

#### Examples:

In [ ]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

For example, if we wanted to pull out the first item in our `names` list, we could put square brackets and our desired index number immediately after the list. Just like with strings, the Python index begins with 0.

In [ ]:
names[0]

'Mary Gallagher'

In [ ]:
names[3]

'Margaret Farrell'

You can also reverse index a list.

In [ ]:
names[-1]

'Margaret Farrell'

### Slice

You can also slice lists like you can slice a string.

#### Examples:

In [ ]:
more_names = ['Unity', 'Catherine', 'Thomas', 'William', 'Patrick',
              'Mary Anne', 'Morris', 'Michael', 'Ellen', 'James']

The full notation and options for slicing a list are as follows:

In [ ]:
# your_list[start:stop:step]

By putting specific index numbers between these colons, you can slice the list at certain starting and stopping points, and you can also "step" by different amounts—that is, you can jump by a certain number through the list and only take every nth item in the list (e.g. every 3rd item).

Slice list up to 2nd item:

In [ ]:
more_names[:2]

['Unity', 'Catherine']


Slice from 2nd item to end of list:

In [ ]:
more_names[2:]

['Thomas',
 'William',
 'Patrick',
 'Mary Anne',
 'Morris',
 'Michael',
 'Ellen',
 'James']

Slice from 0 to end of list, stepping by 3:

In [ ]:
more_names[::3]

['Unity', 'William', 'Morris', 'James']

#### Start

In [ ]:
more_names = ['Unity', 'Catherine', 'Thomas', 'William', 'Patrick',
              'Mary Anne', 'Morris', 'Michael', 'Ellen', 'James']

Here's how we would slice the list starting from the 2nd item of the list until the end.

In [ ]:
more_names[2:]

['Thomas',
 'William',
 'Patrick',
 'Mary Anne',
 'Morris',
 'Michael',
 'Ellen',
 'James']

You might imagine the above as:

In [ ]:
more_names[start=2:stop=none:step=none]

Remember that the Python index starts with `0` so the 2nd item is really the 3rd item.

In [ ]:
more_names[2]

'Thomas'

#### Reverse

In [ ]:
more_names = ['Unity', 'Catherine', 'Thomas', 'William', 'Patrick',
              'Mary Anne', 'Morris', 'Michael', 'Ellen', 'James']

Because we can reverse index a list from the end to the beginning, we can also slice a list by starting from the 2nd to last item until the end.

In [ ]:
more_names[-2:]

['Ellen', 'James']

You might imagine the above as:

In [ ]:
more_names[start=-2:stop=none:step=none]

#### Stop

In [ ]:
more_names = ['Unity', 'Catherine', 'Thomas', 'William', 'Patrick',
              'Mary Anne', 'Morris', 'Michael', 'Ellen', 'James']

Here's how we would slice the list starting from 0 and ending at the 2nd item in the list.

In [ ]:
more_names[:2]

['Unity', 'Catherine']

You might imagine the above as:

In [ ]:
more_names[start=0:stop=2:step=none]

#### Step

You can also index by a certain number of steps.

Here's how we could index every third item in the list.

In [ ]:
more_names[::3]

['Unity', 'William', 'Morris', 'James']

You might imagine the above as:

In [ ]:
more_names[start=0:stop=0:step=3]

## List Methods

Lists also have a number of special methods that can be used with them, such as a method for adding items to a list.

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.append(another_item)`          | adds new item to end of list                                                                                |
| `list.extend(another_list)`        | adds items from another_list to list                                                |
| `list.remove(item)`        | removes first instance of item                                                       |
| `list.sort(reverse=False)`       | sort the order of list                                                                                 |                                                     |
| `list.reverse()`       | reverses order of list                                                                                 |                                                     |

### Add Items To List

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.append(another_item)`          | adds new item to end of list

In [ ]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

In [ ]:
names.append("Lawrence Feeney")

In [ ]:
names

['Mary Gallagher',
 'John Sanin(?)',
 'Anthony Clark',
 'Margaret Farrell',
 'Lawrence Feeney']

### Sort List

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.sort(reverse=False)`       | sort the order of list

In [ ]:
names.sort()

In [ ]:
names

['Anthony Clark',
 'John Sanin(?)',
 'Lawrence Feeney',
 'Margaret Farrell',
 'Mary Gallagher']

In [ ]:
ages.sort()

In [ ]:
ages

[19, 28, 30, 60]

In [ ]:
ages.sort(reverse=True)

In [ ]:
ages

[60, 30, 28, 19]

### Extend List With Another List

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.extend(another_list)`        | adds items from another_list to list

In [ ]:
names.extend(ages)

In [ ]:
names

['Anthony Clark',
 'John Sanin(?)',
 'Lawrence Feeney',
 'Margaret Farrell',
 'Mary Gallagher',
 60,
 30,
 28,
 19]

## For Loops

One of the best ways to work with a list is with `for` loops. This is a way of considering each item in the list or "iterating" through the list.

In [ ]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

In [ ]:
for "x" in names:
    print("x")

SyntaxError: cannot assign to literal (<ipython-input-3-a0b81615be2a>, line 1)

A basic basic `for` loop will consist of two lines:

- On the first line, you type the English word `for`, a new variable name for each item in the list, the English word `in`, the name of the list, and a colon (`:`)

- On the second line, you indent and write an instruction or “statement” to be completed for each item in the list

In [ ]:
for name in names:
    print(f"Person's name is {name}")

Person's name is Mary Gallagher
Person's name is John Sanin(?)
Person's name is Anthony Clark
Person's name is Margaret Farrell

In [ ]:
for x in names:
    print(f"Person's name is {x}")

Person's name is Mary Gallagher
Person's name is John Sanin(?)
Person's name is Anthony Clark
Person's name is Margaret Farrell

In [ ]:
ages = [28, 19, 60, 30]

In [ ]:
for age in ages:
    if age > 30:
        print("Person is less than 30 years old")
    else:
        print("Person is more than 30 years old")

Person is more than 30 years old
Person is more than 30 years old
Person is less than 30 years old
Person is more than 30 years old

In [ ]:
for age in ages:
    print(age * 2)

56
38
120
60

## Exercises

In [ ]:
professions = ['married', 'laborer', 'widow', 'laborer', ]
child_status = ['Child Alana 10 days', 'Catherine 2 mos', '', 'Charles Riley afed 10 days' ]
gender = ['f', 'm', 'w', 'm']

### Exercise 1
Extract the second item in the list `professions`.

```{hint}
:class: dropdown
Remember that the Python index begins with 0!
```

In [ ]:
##Your Code Here

'laborer'

### Exercise 2
Add the item "spinster" to your `professions` list, then print the list.

In [ ]:
##Your Code Here

In [ ]:
##Your Code Here

['married', 'laborer', 'widow', 'laborer', 'spinster']

### Exercise 3
Make a `for` loop that considers each item in the `professions` list and prints "Person's profession is ___"

In [ ]:
##Your Code Here
    ##Your Code Here

Person's profession is married
Person's profession is laborer
Person's profession is widow
Person's profession is laborer
Person's profession is spinster

### Exercise 4
Extract the fourth item in the `child_status` list.

In [ ]:
##Your Code Here

'Charles Riley afed 10 days'

### Exercise 5
Make a `for` loop that considers each item in the `child_status` list and prints "Person has child" if the person has a child and "Person does not have child" if not

In [ ]:
##Your Code Here
  ##Your Code Here
       ##Your Code Here
    ##Your Code Here
        ##Your Code Here

Person has child
Person has child
Person does not have child
Person has child

### Exercise 6
Add an item to the list `gender` called "not known"

In [ ]:
##Your Code Here

### Exercise 7
Make a `for` loop that considers each item in the `gender` list and prints "Person is male" if the person is male, "Person is female" if the person is female, and "Person's gender is not known" if unknown

In [ ]:
 ##Your Code Here
     ##Your Code Here
         ##Your Code Here
     ##Your Code Here
         ##Your Code Here
     ##Your Code Here
         ##Your Code Here

Person is female
Person is male
Person is male
Person's gender is not known